.chip {
  &__box {
    //width: 100%;
    background-color: #F9F7F2;
    height: 40px;
    border-radius: 50px;
    margin-right: 8px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    color: black;
    font-family: KievitPro,sans-serif;
    font-size: 15px;

    &:hover {
      cursor: pointer;
      background-color: #c6c6c2;
    }
  }

  &__active {
    background-color: #FDE283;
  }

  &__text {
  }

  &__container {
    display: flex;
  }
}
